.App {
  overflow-x:'hidden';
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  height:100vh;
  background-color: rgba(0,0,0,0.5)
}

.displayContainer{
  background:#c0c0c0;
  border-width:20px;
  border-style:solid;
  border-color: #ffffff #7d7d7d #7d7d7d #ffffff;
  min-width: 50%;
  height:78%;
  margin: 0;
}

@media(max-height: 800px){
  .displayContainer{
    min-height:660px;
  }
}