body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:rgb(43, 41, 41);
}

a{
  text-decoration:none;
  color:#707070;
}