.Button{
  position:relative;
  background:white;
  z-index:2;
}

.Button:hover{
  color:white;
  background:red;
  cursor:pointer;
}

.Button:active{
  background: darkred;
}

.Button:disabled{
  cursor:default;
  background:rgb(146, 146, 146);
}

.Button:disabled:hover{
  color:#707070;
  background:rgb(146, 146, 146);
}


.popup{
  display:flex;
  flex-direction: column;
  justify-content: center;
  z-index:0;
  position:relative;
  margin: 0 auto;
  border: 1px solid;
  overflow:hidden;
  transform-origin:top;
}

.open{
  transition: height 0.2s ease-in, top 0.1s ease-in 0.21s;
}

.close{
  transition: height 0.2s ease-in 0.1s, top 0.1s ease-in 0s;
}