.Button{
  background:white;
  display:block;
}

.Button:hover{
  color:white;
  background:red;
  cursor:pointer;
}

.Button:active{
  background: darkred;
}

.Button:disabled{
  cursor:default;
  background:rgb(146, 146, 146);
}

.Button:disabled:hover{
  color:#707070;
  background:rgb(146, 146, 146);
}

