.Footer {  
  width:calc(100% - 2px);
  min-height:50px;
  position:relative;
  bottom: 0px;
  background:black;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.Footer * {
  margin:0 10px;
}