.Container{
  border:1px solid black;
  width: 400px;
  margin:0 auto;
}

.Header{
  background:black;
  color:white;
  text-align: center;
  padding:5px 0;
  font-size:20px;
  height:24px;
}

.Row{
  display:flex;
  flex-direction: row;
  padding:4px;
  border:1px solid black;
}

.Cell{
  width:50%;
  text-align:center;
}

.Title{
  margin: 0 0;
  font-weight: 700;
}

.Text{
  margin: 0 0;
}

.Note{
  text-align: center;
}