.Square{
  border:1px solid black;
  width:600px;
  display:flex;
  flex-wrap: wrap;
}

.Container{
  display:flex;
  flex-direction:column;
  align-items: center;
}

@media(max-width: 600px){
  .Square{
    width:350px;
  }
}