.Square{
  border:1px solid black;
  width:600px;
  display:flex;
  flex-wrap: wrap;
}

.Container{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.Header{
  box-sizing: border-box;
  display:flex;
  flex-direction: row;
  padding:0 10px;
  height:45px;
  justify-content: space-between;
  align-items: center;
  width:602px;
  border:1px solid black;
}