.Header {
  width:calc(100% - 2px);
  min-height:50px;
  border:1px solid black;
  display:flex;
  justify-content: center;

}

.titleCenter{
  width:900px;
  display:flex;
  align-items: center;
}

.title{
  margin:0px;
}