.Header {
  width:calc(100% - 2px);
  min-height:50px;
  display:flex;
  justify-content: center;
  background:black;
}

.titleCenter{
  min-width: 50%;
  display:flex;
  align-items: center;
}

.title{
  color:white;
  margin:0px;
}