.App {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  height:100vh;
}

.displayContainer{
  border:1px solid;
  min-width: 50%;
  height:78%;
  margin: 10px 0 20px 0;
}

@media(max-height: 800px){
  .displayContainer{
    min-height:660px;
  }
}