.Cell{
  box-sizing: border-box;
  border:1px solid #767676;
  font-size:20px;
  font-family:'Press Start 2P';
  display:flex;
  justify-content: center;
  align-items: center;
}

.Cell:hover{
  cursor: pointer;
}

.Cell:active{
  background:#686767;
}

.Mine{
  background-image: url('./redmine.png');
  background-size: cover;
}

.Flag{
  background-image: url('./flag2.png');
  background-size: cover;
  border-width:5px;
  border-style:solid;
  border-color: #ffffff #7d7d7d #7d7d7d #ffffff;
}

.Unopened{
  background:#c0c0c0;
  border-width:5px;
  border-style:solid;
  border-color: #ffffff #7d7d7d #7d7d7d #ffffff;
}

.Unopened:hover{
  background:#8a8888;
}

.Opened{
  background:#c0c0bd;
}