.Page{
  display:flex;
  flex-direction: column;
  align-items: center; 
}

.window{
  width: 295px;
  border: 1px solid;
  margin:30px;
  padding:15px 25px;
}

.row{
  width:100%;
}

.windowTitle{
  font-size:20px;
  margin: 0 0 0 0;
}

.windowSubTitle{
  font-size: 16px;
  margin: 15px 0 4px 0;
}

.windowText{
  text-align:right;
  margin:2px 0 0 0;
  font-size:14px;
}

.cancel{
  padding:0px;
  padding-top:5px;
  font-size:14px;
  display:flex;
  justify-content: center;
}

.cancel a:hover{
  color:blue;
}

.error{
  color:red;
  font-size: 16px;
  text-align:center;
  margin: 10px 0 0 0;
}